    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;500;600;700&display=swap');
    body
    {
        margin: 0;
        font-family: 'IBM Plex Sans Arabic', sans-serif;
    }
    #header-container
    {
        margin-bottom: 8px;
    }
    #navbar
    {
        width: 88%;
        height: 57px;
        margin: auto;
        position:relative;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #category, #category>div
    {
        background-color:rgb(34,34,34);
        width: 100%;
        margin: auto;
        height: 33px;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    #category>div>div
    {
        display: flex;
        align-items: center;
        color: white;
        font-size: 14px;
        font-weight: 600;
    }

    #imagelogo
    {
        width: 13%;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    #navb-arsearch-div
    {
        width: 50%;
        display: flex;
        justify-content: center;
    }
    
    #navb-arsearch-div>button
    {
        background-color: rgb(222,222,222);
        border: none;
        margin-left: 0px;
        padding: 7px 10px 4px 0;
        cursor: pointer;
    }
    #navbarsearch
    {
        padding: 8px 36px 6px 10px;
        height: 25px;
        width: 85%;
        background-color: rgb(222,222,222);
        border: none;
        margin-right: 0px;
        font-family: 'IBM Plex Sans Arabic', sans-serif;
        font-size: 14px;
    }
    #navbarsearch:focus
    {
        outline: none;
    }

    #left-itemsi-in-navbar
    {
        width: 32%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
    }
    #top-dropdown
    {
        position: absolute;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding-left:15px;
        width: 250px;
        background-color: white;
        color: gray;
        top: 70%;
        right: 25%;
        cursor: pointer;
    }
    
    #top-dropdown>p
    {
        font-size: 14px;
    }
    .sign-in-drop
    {
        display: flex;
        align-items: center;
        cursor:context-menu;
    }
    .lybrateCash
    {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    #left-itemsi-in-navbar>div>button
    {
        background-color: white;
        border: 1px solid black;
        border-radius: 4px;
        height: 25px;
        cursor: pointer;
        width: 60px;
    }
    #cart-count
    {
        margin-right: -21px;
        margin-top: -1px;
        color: rgb(200,37,6);
    }




    #shop-by-category-drop
    {
        position: absolute;
        right: 73%;
        top: 14%;
        height: auto;
        border-radius: 3px;
        background-color: white;
        width: 300px;
        cursor: pointer;
        padding:0 10px 0 10px;
        align-items: center;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    #shop-by-category-drop>div>div
    {
        display: flex;
        gap: 10px;
        align-items: center;
    }
    #shop-by-category-drop>div
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    #swellness-drop
    {
        position: absolute;
        right: 45%;
        top: 14%;
        height: auto;
        border-radius: 3px;
        background-color: white;
        width: 300px;
        padding:0 10px 0 10px;
        align-items: center;
        cursor: pointer;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    #swellness-drop>hr, #food-drop>hr, #vitamis-drop>hr, #weight-drop>hr, #child-drop>hr
    {
        border-top: none;
        border-left: none;
    }
    #shop-by-category-drop>div>div>p, #swellness-drop>p, #food-drop>p, #vitamis-drop>p, #weight-drop>p, #child-drop>p
    {
        font-weight: 400;
    }
    #food-drop
    {
        position: absolute;
        right: 31%;
        top: 14%;
        height: auto;
        border-radius: 3px;
        background-color: white;
        width: 300px;
        padding:0 10px 0 10px;
        align-items: center;
        cursor: pointer;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    #vitamis-drop
    {
        position: absolute;
        right: 20%;
        top: 14%;
        height: auto;
        border-radius: 3px;
        background-color: white;
        width: 300px;
        padding:0 10px 0 10px;
        align-items: center;
        cursor: pointer;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    #weight-drop
    {
        position: absolute;
        right: 3%;
        top: 14%;
        height: auto;
        border-radius: 3px;
        background-color: white;
        width: 300px;
        padding:0 10px 0 10px;
        align-items: center;
        cursor: pointer;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    #child-drop
    {
        position: absolute;
        right: 0;
        top: 14%;
        height: auto;
        border-radius: 3px;
        background-color: white;
        width: 300px;
        padding:0 10px 0 10px;
        align-items: center;
        cursor: pointer;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    #onfocuscontent
    {
        position: absolute;
        left: 16%;
        top: 82%;
        height: auto;
        border-radius: 3px;
        background-color: white;
        width: 570px;
        padding: 0 10px 0 10px;
        cursor:context-menu;
        align-items: center;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    #onfocuscontent>div
    {
        display: flex;
        align-items: center;
        gap: 20px;
        height: 60px;
        font-weight: 400;
        font-size: 14px;
        border-radius: 5px;
        transition: 0.3s;
        cursor: pointer;
    }
    #onfocuscontent>div:hover
    {
        background-color: rgb(206, 10, 10);
        color: white;
        transform: scale(1.04);
    }
    #onfocuscontent>div>img
    {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-left: 10px;
    }