@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;500;600;700&display=swap");
body{
    font-family:"IBM Plex Sans Arabic", sans-sarif;
    margin: 0;
    background-color: hsl(0,0%,88%);
}
#minitop{
    height:25px;
    width:40%;
    /* border:1px solid red; */
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-family:Helvetica;
    margin-right: 60px;
    font-weight: 500;
}
#minitop>div>a
{
    text-decoration: none;
    color: gray;
}
#minitop{
  color: gray;
  font-size: 14px;
}
#secondmini{
    height:60px;
    width:90%;
    margin: auto;
    background-color: white;
    display: flex;
    justify-content: space-around;
    
    font-weight: bold;
   
}
#secondmini>div{
    justify-items: center;
    justify-content: space-around;
    
}
#image
{
    display: flex;
    align-items: center;
    margin-right: 80px;
}
#image>img
{
    height: 35px;
}
.same{
    display:flex;
    width: 72%;
    justify-content: space-between;
    align-items: center;
}
.same>div{
    display:flex;
    align-items: center;
}
.same>div>img
{
    width: 30px;
    height: auto;
}
.same>div>p
{
    font-size: 15px;
    color: rgb(85, 85, 85);
}
/* p{
    font-weight: bold;
    font-size: 20px;
    color:#222222;
}
img{
    height:50px;
    margin-left: 60px;
}*/
#good_kart{
    height:40px;
    width:120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    
    background-color: #C82506;
    border-radius:50px;
    text-align: center;
    color:white;
}
.good-kart-div
{
    display: flex;
    gap: 20px;
    width: 200px;
}
.good-kart-div>a
{
    text-decoration: none;
}
/* #good_kart>p{
    color:white;
    font-size: 20px;
    margin:auto;
    
} */

#linediv{
    height:30px;
    width:80%;
    margin: auto;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
}
#linediv>div>a
{
    text-decoration: none;
    color: black;
}
#reddiv{
    height:450px;
    width:100%;
    border-top:1px solid white;
    background-image: url("./main photo.jpg");
    background-position: center -80px;
    background-repeat: no-repeat;
    background-size: cover;
}
.input-search
{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-title
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 100px;
}
.home-title>h1
{
    color: white;
    font-size: 35px;
}
#reddiv>div>p{
    color:white;
    font-size: 35px;
  align-items: center;
  text-align: center;
}
input{
    height:20px;
    width:45%;
    /* margin-left:25%; */
}
button{
    height:40px;
    width:150px;
    background-color: #C82506;
    border: none;
    font-weight: 700;
    font-size: 16px;
    color:white;
    

}
#letdiv{
    display: flex;
    height:50px;
    width:60%;
    /* border:1px solid yellow; */
    align-items: center;
    justify-content: space-around;
    margin-left:20%;
}
#letdiv>div{
    color:white;
    font-size: 15px;
    text-align: center;
}
#blackdiv{
    height:50px;
    width:100%;
    background-color: #333;
    color:white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#dropdiv>div{
    height:40px;
    width:80%;
    margin: auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
    
}
#dropdiv>div>div>select
{
    border: none;
    font-size: 13px;
    font-family:"IBM Plex Sans Arabic", sans-sarif;
}
#dropdiv>div>select:focus
{
    outline: none;
}
#queandansdiv{
    height:auto;
    width:100%;
    margin-bottom: 60px;
}
#griddiv{
    width:90%;
    margin:auto;
}
#griddiv>div
{
    margin-bottom: 10px;
}
#griddiv>div>h1{
    margin-top:50px;
    margin-bottom: -5px;
    font-size: 25px;
}
  

#labels{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,300px);
    gap:20px;
}
#labels>div{
    
    background-color: white;
    padding: 15px;
    font-size: 15px;
}


#top{
    height:70px;
    overflow-y: hidden;
    width:100%;
    display:flex;
}
#top>div:first-child{
    height:100%;
    width:75%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
#top>div
{
    font-weight: 500;
    font-size: 18px;
}

#top>div:last-child{
    height:100%;
    width:25%;
}
#doctor{
    display: flex;
    align-items: center;
    /* height:80px;
    width:50%; */
    gap: 15px;
    margin-top: 20px;
}
#doctor>div>img{
    height:70px;
    width:70px;
    display: flex;
    align-items: center;
    border-radius: 50%;
}
#doctor>div:last-child{
    height:70px;
    display:flex;
    align-items: center;
}
#save-like
{
    display: flex;
    justify-content: end;
    gap: 8px;
    align-items: center;
}
#save-like>ly-svg-icon
{
    fill: gray;
}
#para
{
    display: flex;
    height: 93px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
#top>div:last-child>img{
    height:100px;
    width:100%;
    margin-left:0px;
}
#askque{
    height:30px;
    width:50%;
    
    display: flex;
}
.askquetitle
{
    width: auto;
    font-size: 17px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.askquetitle>img
{
    width: 25px;
    height: auto;
}
#labels>div:last-child{
    height:350px;
    border:1px  solid red;
}
#lastInput{
    /* height:200px;
    width:95%; */
    margin:auto;
    
    /* margin-left:0px;*/
    /* margin-top:-1px; */
    font-size: 15px;
    font-display: top;
    padding: 10px;
    font-family:"IBM Plex Sans Arabic", sans-sarif;
}
#lastInput:focus{
    outline:none;
}
#anonymously{
    /* height:60px; */
    width:95%;
    margin:auto;
    display: flex;
    justify-content: space-between;
}
#lastbtn{
    font-size: 15px;
    font-weight: bold;
    width: 90px;
    height: 35px;
}
#viewmore{
    height:50px;
    width:49%;
    display: flex;
    background-color: white;
    color:#c82506;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 600;
    margin-top:5px;
}
.cartcount{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
#cart-count{
    color: rgb(200,37,6);
    margin-right:-23px;
    margin-top: -1px;
   font-weight: 400;
   font-size: 18px;
}
#redinput{
    padding:10px;
    border: none;

}
#redinput:focus{
    outline:none;
}
#labels>div:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#whitediv{
    height:auto;
    width:100%;
    padding: 35px 0;
}
#smalldiv{
    font-size: 18px;
    margin-left: 6%;
}
#smalldiv>h1
{
    line-height: 0;
    font-size: 27px;
}
#smalldiv>div
{
    color: gray;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 30px;
}
#smalldiv>div>svg
{
    height: 25px;
}
#smalldiv>p{
    margin-top: 0;
    color:gray;
    font-family: sans-serif;
}
#smalldiv:nth-child(2){
    margin-left:0px;
    display: flex;
    align-items: center;
}
#midcontainer{
    height:auto;
    width:88%;
    margin:auto;
    display: flex;
    gap:20px;
    background-color: white;
}
#photodiv{
    height:590px;
    width:55%;
    
    display: block;
}
#scrolldiv{
    height:400px;
    width:45%;
}
#forimage{
    height:auto;
    width:100%;
}
#fortext{
    width:94%;
    padding: 20px;
    background-color: rgb(68,68,68);
}
#forimage>img{
    height:100%;
    width:100%;
    margin-left:0px;
}
#fortext>h3
{
    color: white;
    line-height: 0;
}
.fortextclass{
    font-family: inherit;
    font-weight: 400;
    justify-content: center;
    color: white;
    font-size: 13px;
    overflow-y: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 20px;
}
#readmore{
    width:100%;
    display:flex;
    align-items: center ;
}
#heartbook{
    display: flex;
    align-items: center;
    margin-left:70%;
}
.lybText--white {
    color: #fff !important;
}
.lybMar-left {
    margin-left: 8px !important;
}
.ly-svg--md {
    height: 18px;
    width: 18px;
}
ly-svg-icon {
    background-repeat: no-repeat no-repeat;
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    height: 24px;
    width: 24px;
}
#scrolling{
    height:488px;
    width: 100%;
    display:flex;
    flex-direction: column;
    overflow:scroll;
    overflow-x: hidden;
    background-color: #333;
    
}
/* #scrolling>div{
    height:150px;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid white;
} */
#twodiv{
    display: flex;
    gap: 10px;
    height:90px;
    padding:10px;
    align-items: center;
    padding: 20px 0 20px 20px;
    border: 1px solid white;
}
#ima{
    height:100%;
    display: flex;
    align-items: center;
    border-radius:50%;
    margin:auto;
    border:1px solid white;
}
#drins{
    height:50px;
    width:80%;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    font-size: 15px;
    color: white;
    /* margin:auto; */
}
#drins>p
{
    margin: 0;
}
/* #drins:last-child
{

} */
#ima>img{
    height:auto;
    width:100%;
    border-radius:50%;
}
#downdiv{
    height:55px;
    width:100%;
    margin-top: -10px;
    background-color: rgb(68,68,68);
}
#videoquizzes{
    height: 680px;
    width:100%;
    margin-top:2%;
}
#videodiv{
    width: 88%;
    margin:auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
}

#quizzesdiv{
    width: 80%;
    margin:auto;
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
   

}
#quizzesdiv>div{
    border-radius: 5%;
    margin-bottom: -70px;
}

#quizzesdiv>div>img{
    width:100%;
    border-radius:5%;
}
#mirrordiv{
    height:0px;
    width:78%;
    margin: auto;
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 45px;
    /* margin-top: -70px; */
    /* margin-top:170px;
    margin-left:10%; */
    
}
#mirrordiv>div{
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#mirrordiv>div>p
{
    line-height: 0;
}
#definediv{
    display: flex;
    height:100px;
    padding:20px;
    
}
#quiztwodiv
{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
}

#quizdrins
{
    display: flex;
    flex-direction: column;
    line-height: 0;
}

#quiztwodiv>div>img
{
    width: 50px;
    height: auto;
    border-radius: 50%;
}
#imag{
    height:60px;
    width:60px;
    
    border-radius:50%;

    margin:auto;
}
#drinstruc{
    height:80%;
    width:70%;
    
    margin:auto;
}
#imag>img{
    height:100%;
    width:100%;
    border-radius:50%;
    margin-left:2px;
}
#are_you{
    width:100%;
    background-color: white;
    padding:50px 0;
    margin: auto;
    text-align: center;
}
#lastdiv{
    width:100%;
    margin-top: 50px;
}
#categories{
    width:88%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
    margin:auto;
    
    margin-bottom: 50px;
}
/* #categories>div{
    border:1px solid red;
} */
#categories>div>img{
    height:100%;
    width: 100%;
}

.classic{
    margin-top: -90px;
    left: 10px;
    text-align: center;
     color:white;
     font-size: 25px;
   } 
#textdiv{
    width:88%;
    
    margin:50px auto;
}
#videodiv>div>img{
    height:150px;
    width:100%;
    margin-left: 0%;
}